header { 
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        gap: 20px;
        width: 178px;
        height: 64px;
        padding: 20px;
        align-items: center;
        justify-content: center;

        a{
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 4.5px;
            margin: auto;
            span {
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 700;
                color: #C92071;

            }
            
        }
        

    }
}